@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?t329bo');
  src:  url('fonts/icomoon.eot?t329bo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?t329bo') format('truetype'),
    url('fonts/icomoon.woff?t329bo') format('woff'),
    url('fonts/icomoon.svg?t329bo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-moon-o:before {
  content: "\f186";
}
.icon-sun:before {
  content: "\e9d4";
}
