@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?mbrm9e");
  src: url("fonts/icomoon.eot?mbrm9e#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?mbrm9e") format("truetype"),
    url("fonts/icomoon.woff?mbrm9e") format("woff"),
    url("fonts/icomoon.svg?mbrm9e#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard_arrow_up:before {
  content: "\e901";
}
.icon-arrow_forward:before {
  content: "\e902";
}
.icon-verified:before {
  content: "\e903";
}
.icon-link:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e900";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-moon-o:before {
  content: "\f186";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
